@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400;1,800&display=swap');


*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.clearfix::before{
	content: '';
	display: table;
}

.clearfix::after{
	content: '';
	clear: both;
	display: table;
}

header{
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	z-index: 10;
}

#logo{
	float: left;
	display: block;
}

#logo img{
	width: 140px;
}

header{
	padding: 10px 0;
}

header nav{
	float: right;
}

header nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav li{
	float: left;
}


header nav li a{
	padding: 1em;
	display: block;
	color: white;
	text-decoration: none;
}

header nav li a:not([href]){
	pointer-events: none;
}

.container{
	max-width: 1170px;
	margin: auto;
	position: relative;
}

.vertically-centered{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* Section 1 */

#section1{
	background-color:  #0078bb;
	height: 640px;
	padding-bottom: 20px;
	background-image: url('../images/hero-image.jpg');
	background-size: cover;
	background-position: right bottom;
	color: white;
}

#section1 h1{
	font-size:  96px;
	margin: 0;
}

#section1 h2{
	font-size:  30px;
}

#section1 a{
	font-size:  16px;
}

#section1 .container{
	height: 100%;
}

#section1 small{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.cta-button{
	padding: 1em 3em;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-decoration: none;
	display: block;
	border-radius: 500px;
}

.cta-button--blue{
	background-color: #1E3264;
}

/* Section 2 */

#section2{
	background-color:  #008cda;
}

#section2 .container > h1{
	text-align: center;
}

.benefit{
	float: left;
	width: 25%;
	padding: 30px;
	text-align: center;
}

/* Section 3 */

#section3{
	background-color: #006ba6;
	padding-bottom: 20px;
}

#section3 .container{
	padding-bottom: 60px;
}

#section3 .container > h1{
	text-align: center;
}

#section3 .container > small{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.offers-container{
	width: 70%;
	margin: auto;
}

.offer{
	width: 48%;
	float: left;
}

.offer:first-child{
	margin-right: 4%;
}

/* Footer */

footer{
	background-color: #0081c8;
	padding: 20px 0;
}

footer .container nav{
	float: left;
}

footer .container small{
	float: right;
	right: 0;
}

footer .container nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

footer .container nav li{
	float: left;
}

footer .container nav li a{
	display: block;
	padding: 1em;
}